Package: de.nautigg.EmojiPredictor
Name: EmojiPredictor
Version: 0.1.1
Description: Put recent emojis in prediction bar
Section: Tweaks
Depends: firmware (>= 8.0), mobilesubstrate
Priority: optional
Architecture: iphoneos-arm
Author: luke <luke@peng-u-in.de>
Maintainer: luke <luke@peng-u-in.de>
Depiction: http://repo.peng-u-in.de/deps/index_new.php?id=de.nautigg.EmojiPredictor

